node-red/flows_nodered_fitassist.json
[{"id":"1f458895a8ae189a","type":"tab","label":"ingestion endpoint","disabled":false,"info":"","env":[]},{"id":"6123204cf6c045bf","type":"tab","label":"output endpoint","disabled":false,"info":"","env":[]},{"id":"8f3e50dbb7893403","type":"tab","label":"Teste arquivo","disabled":false,"info":"","env":[]},{"id":"a15271ddd9d3c1ea","type":"http in","z":"1f458895a8ae189a","name":"Receber Body Battery","url":"/garmin/body-battery","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":240,"y":140,"wires":[["5d7ce8e537c4399d"]]},{"id":"5d7ce8e537c4399d","type":"json","z":"1f458895a8ae189a","name":"","property":"payload","action":"","pretty":false,"x":290,"y":240,"wires":[["eb92236eaf7b87dd"]]},{"id":"eb92236eaf7b87dd","type":"function","z":"1f458895a8ae189a","name":"Extrair body battery","func":"const data = msg.payload;\nconst lastDay = data[data.length - 1];\n\nconst values = (lastDay.bodyBatteryValuesArray || [])\n    .filter(v => v[1] !== null);\n\nconst lastValue = values[values.length - 1];\n\nconst activities = lastDay.bodyBatteryActivityEvent || [];\nconst lastActivity = activities.length > 0 ? activities[activities.length - 1] : null;\n\nconst summary = {\n    date: lastDay.date,\n    current_body_battery: lastValue ? lastValue[1] : null,\n    current_timestamp_ms: lastValue ? lastValue[0] : null,\n    charged: lastDay.charged,\n    drained: lastDay.drained,\n    feedback_level: lastDay.bodyBatteryDynamicFeedbackEvent?.bodyBatteryLevel || null,\n    feedback_type: lastDay.bodyBatteryDynamicFeedbackEvent?.feedbackShortType || null,\n    last_activity_type: lastActivity?.eventType || null,\n    last_activity_impact: lastActivity?.bodyBatteryImpact || null,\n    last_activity_feedback: lastActivity?.shortFeedback || null\n};\n\nmsg.payload = JSON.stringify(summary, null, 2);\nmsg.filename = \"/Users/eduardobrito/Documents/GitHub/UNICAMP/android/data/body_battery_summary.json\";\n\nreturn msg;","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":240,"wires":[["4ff1d7208e96f5bb"],["4ac15d0f0d076e4d"]]},{"id":"4ff1d7208e96f5bb","type":"http response","z":"1f458895a8ae189a","name":"","statusCode":"","headers":{},"x":730,"y":180,"wires":[]},{"id":"4ac15d0f0d076e4d","type":"file","z":"1f458895a8ae189a","name":"","filename":"/Users/eduardobrito/Documents/GitHub/UNICAMP/android/data/body_battery_raw.json","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":610,"y":360,"wires":[[]]},{"id":"cb2484d60e39fcc9","type":"http in","z":"6123204cf6c045bf","name":"Dashboard Body Battery","url":"/dashboard/current","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":190,"y":120,"wires":[["a7e894ef5d0886fb"]]},{"id":"4187118c413b2288","type":"file in","z":"6123204cf6c045bf","name":"","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":200,"y":260,"wires":[["6b0723e3fba89ea6"]]},{"id":"6b0723e3fba89ea6","type":"json","z":"6123204cf6c045bf","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":320,"wires":[["e201a8eccec25b2b"]]},{"id":"a80f950c71778001","type":"http response","z":"6123204cf6c045bf","name":"","statusCode":"","headers":{},"x":710,"y":320,"wires":[]},{"id":"a7e894ef5d0886fb","type":"change","z":"6123204cf6c045bf","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"/Users/eduardobrito/Documents/GitHub/UNICAMP/android/data/body_battery_raw.json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":180,"wires":[["4187118c413b2288"]]},{"id":"e201a8eccec25b2b","type":"function","z":"6123204cf6c045bf","name":"function 2","func":"let data = msg.payload;\n\n// Se vier como Buffer, converte para string\nif (Buffer.isBuffer(data)) {\n    data = data.toString(\"utf8\");\n}\n\n// Se vier como string, tenta fazer JSON.parse\nif (typeof data === \"string\") {\n    try {\n        data = JSON.parse(data);\n    } catch (err) {\n        msg.payload = {\n            error: \"Payload is string but not valid JSON\",\n            detail: err.message,\n            sample: data.slice(0, 200)\n        };\n        return msg;\n    }\n}\n\n// Se vier dentro de msg.payload.payload por algum motivo\nif (data && data.payload && Array.isArray(data.payload)) {\n    data = data.payload;\n}\n\nif (!Array.isArray(data) || data.length === 0) {\n    msg.payload = {\n        error: \"No Body Battery data found\",\n        payload_type: typeof data,\n        is_array: Array.isArray(data),\n        sample: data\n    };\n    return msg;\n}\n\nconst lastDay = data[data.length - 1];\n\nconst values = (lastDay.bodyBatteryValuesArray || [])\n    .filter(v => v[1] !== null);\n\nconst lastValue = values.length > 0 ? values[values.length - 1] : null;\n\nconst events = lastDay.bodyBatteryActivityEvent || [];\nconst lastEvent = events.length > 0 ? events[events.length - 1] : null;\n\nmsg.payload = {\n    source: \"garmin_connect\",\n    date: lastDay.date,\n    current_body_battery: lastValue ? lastValue[1] : null,\n    current_timestamp_ms: lastValue ? lastValue[0] : null,\n    charged: lastDay.charged,\n    drained: lastDay.drained,\n    feedback_level: lastDay.bodyBatteryDynamicFeedbackEvent?.bodyBatteryLevel || null,\n    feedback_type: lastDay.bodyBatteryDynamicFeedbackEvent?.feedbackShortType || null,\n    last_event_type: lastEvent?.eventType || null,\n    last_event_impact: lastEvent?.bodyBatteryImpact || null,\n    last_event_feedback: lastEvent?.shortFeedback || null\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":200,"wires":[["a80f950c71778001"]]},{"id":"3ab0943ba1e2856b","type":"function","z":"8f3e50dbb7893403","name":"function 1","func":"msg.payload = \"teste node-red \" + new Date().toISOString() + \"\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["90cdb3b0bc3be2a2"]]},{"id":"90cdb3b0bc3be2a2","type":"file","z":"8f3e50dbb7893403","name":"","filename":"/Users/eduardobrito/Documents/GitHub/UNICAMP/android/data/teste_node_red.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":740,"y":100,"wires":[["816a531c7f5af81f"]]},{"id":"816a531c7f5af81f","type":"debug","z":"8f3e50dbb7893403","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":300,"wires":[]},{"id":"2281c3a6064a794b","type":"inject","z":"8f3e50dbb7893403","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["3ab0943ba1e2856b"]]}]